/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Style the main container */
.container {
  display: flex;
  flex-direction: column;
  width: 25%;
}

/* Style the task list container */
.task-list-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #eee;
  padding: 1rem;
  margin-bottom: 10%;
  height: 100vh;
}

/* Style the header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

/*Style for Labels*/
label {
  display: inline-block;
  margin-bottom: 5px;
  padding: 10px;
  background-color:#333 ;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
}


header h1 {
  margin: 0;
}

/* Style the task list */
#task-list {
  margin: 20px;
  flex-grow: 1;
  overflow-y: scroll;
}

/* Style each task item */
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
}

.task label {
  flex-grow: 1;
  margin-right: 10px;
}

.task input[type="checkbox"] {
  margin-right: 10px;
}

.task button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.task button:hover {
  background-color: #444;
}

/* Style the add task form */
#add-task-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#add-task-form input[type="text"],
#add-task-form input[type="date"],
#add-task-form input[type="time"],
#add-task-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: inherit;
}

#add-task-form button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#add-task-form button:hover {
  background-color: #444;
}

/* Style the footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Style the edit task form */
#edit-task-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#edit-task-form input[type="text"],
#edit-task-form input[type="date"],
#edit-task-form input[type="time"],
#edit-task-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: inherit;
}

#edit-task-form button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#edit-task-form button:hover {
  background-color: #444;
}

.task.completed label {
  text-decoration: line-through;
}
